<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MyMoneyKart">
  <parameter name="browser" value="chrome" />
  <listeners>      
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
       <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       
  </listeners>

<!--   <test name="MyMoneyKart_Functional_Test">
 	<classes>	 
	 	  <class name="com.mmk.test_execution_engine.MMKMainSiteTestCases">
	 			<methods>
        			<include name="userLogin" />
        			<include name="userWalletDetails" />
        			<include name="busSearchFromMMKHomePageWithUserLogin" />
        			<include name="navigateOnContactUsPage" />       			
        			<include name="submitContactByEndUser" />
        			<include name="checkContactUsPageValidations" /> 
        			<include name="navigateOnInviteFriend" />
        			<include name="inviteFriends" />
        			<include name="navigateToUserAccountScbscriptionLink" />
        			<include name="navigateToUserAccountScbscriptionLinkAndCheckScbscriptionStatus" />
        			<include name="failSubscriptionFeePaymentFromPG" />	
        			<include name="navigateToKycDetailsPageAndVerifyCorrectRedirect" />	
        			<include name="navigateKYCPageAndGetDetails" />	
        			<include name="navigateKYCPageAndCheckMissingKYCDetails" /> 
        			<include name="navigateKYCPageAndTransferTheKYC" />
        			<include name="navigateKYCPageAndCancelClick" /> 
        			<include name="verifyPancardAndIdProffDocOnKycForm" />      			
        			<include name="navigateToChangePasswordPage" /> 
        			<include name="navigateToChangePasswordPageAndCheckBlankFieldValidation" />	      			
        			<include name="navigateToChangePasswordPageAndCheckCancelRedirect" />	
        			<include name="navigateToChangePasswordPageAnddoChangePassword" />	
        			<include name="navigateToUserProfile" />
        			<include name="navigateToUserProfileAndCheckValidRedirect" />
        			<include name="navigateToUserProfileAndGetProfileDetails" />      			  			       			
        		</methods>
	 	</class>  
   </classes> 
  </test> 
     <test name="BusBookingSite_Functional_Test">
 	 <classes>  	
		<class name="com.mmk.test_execution_engine.MMKBusSiteTestCases">
	 			<methods>
        			<include name="navigateToBusHomePage" />
        			<include name="userLoginCheckAndLoginIfNot" />
        			<include name="getSelectedPreferredCity" />
        			<include name="setPreferredCity" />
        			<include name="checkBusRatingOptionAvailability" />
        			<include name="rateABusIfRatingOptionAvailable" />
        			<include name="getRecentSearches" />
        			<include name="doBusSearch" />
        			<include name="modifySearchCheck" />
        			<include name="selectSeatAndProceed" />
        			<include name="isSelfFunctionalityCheck" />
        			<include name="fillPassangerDetailsAndProceedFurther" /> 
        			<include name="applyCouponCode" /> 
        			<include name="applyWalletAmountAndCheckout" /> 
        			<include name="completeBusBookingAndOrderCheckout" />
        		</methods>
		</class>
     </classes> 
  </test>  
   -->
  <test name="Utility_Functional_Test">
 	 <classes>  	
 	 	<class name="com.mmk.test_execution_engine.MMKUtilitySiteTestCases">
 	 		<methods>
        		<exclude name="navigateToUtilitySiteAndVerifyCorrectLandingHomePage" /> 
        		<exclude name="navigateToUtilityHomePageAndCheckWeatherUserIsLogigedIn" /> 
        		<exclude name="proceedPrepaidMobilerechargeAndVerifyLandingPageAfterFillRechargeDetails" />        		
        		<exclude name="proceedPrepaidMobileRechargeAndApplyCoupon" />
        		<exclude name="proceedPrepaidMobileRechargeAndVeriyLandingPageAfterWalletPay" />    
        		<exclude name="proceedPrepaidMobileRechargeAndVerifyStatusOnThankyouPage" />  
        		<exclude name="proceedPostpaidMobileRechargeAndVerifyStatusOnThankyouPage" />	
        		<exclude name="navigateToUtilitySiteAndswitchTodthRecharge" />	
        		<include name="proceedDTHRechargeAndVerifyLandingPage" />	
        			
      		</methods>
 	 	</class>
     </classes> 
  </test>   
</suite>
