<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="MyMoneyKart">
  <parameter name="browser" value="htmlunit" />
  <listeners>      
       <listener class-name="org.uncommons.reportng.HTMLReporter"/>
       <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>

  <test name="MyMoneyKart_Functional_Test">
 	<classes>  	
 		<class name="com.mmk.reader.LogWriter"/>
 		<class name="com.mmk.driversetup.DriverSetup"/>	 		
	 	<!--   	<class name="com.mmk.testexecuter.MMKMainSuitExecuter"/>   -->
   </classes> 
  </test>
  
  <test name="BusBooking_Functional_Test">
 	 <classes>  	
	 	<!--   <class name="com.mmk.testexecuter.MMKBusSuitExecuter"/>   -->
     </classes> 
  </test>
  
    <test name="Utility_Functional_Test">
 	 <classes>  	
 	 	<class name="com.mmk.testexecuter.MMKUtilitySuitExecuter">
 	 		<methods>
        		<include name="prepaidMobileRecharge" />
        		<exclude name="postpaidMobileRecharge" />
        		<exclude name="dthRecharge" />
      		</methods>
 	 	</class>
     </classes> 
  </test>

</suite>
